{% extends 'base.html' %} {% block title %}Birthday Mate - Dashboard{% endblock
%} {% block content %}
<h1 class="text-3xl font-bold text-gray-800 mb-4">
  Greetings, {{ current_user.username }}
</h1>
<h2 class="text-2xl font-semibold text-gray-600 mb-6">Your upcoming events:</h2>

<div class="container mx-auto px-4">
  {% if events %} {% for event in events %}
  <div class="bg-white border border-gray-300 rounded-lg shadow-lg mb-6 p-4">
    <h5 class="text-xl font-semibold text-gray-800 mb-2">{{ event.title }}</h5>
    {% if event.content %}
    <p class="text-gray-700 mb-2">{{ event.content }}</p>
    {% endif %}
    <p class="text-gray-600 mb-2">
      <strong>Date of Event:</strong> {{ event.month }}/{{ event.day }}/{{
      event.year }}
    </p>
    <p class="text-gray-600">
      <strong>Days Until Event:</strong>
      {% if event.days_until_event >= 0 %} {{ event.days_until_event }} days {%
      else %} Event has passed {% endif %}
    </p>
  </div>
  {% endfor %} {% else %}
  <p class="text-gray-700">
    You have no events yet.
    <a href="{{ url_for('create') }}" class="text-blue-500 hover:underline"
      >Add one now!</a
    >
  </p>
  {% endif %}
</div>
{% endblock %}
